<!doctype html>
<html lang="en">
  <%- include ('./partials/head') %>
<body id="cuerpo">

  <%- include ('./partials/header') %>
  <main style="padding-top: 100px; margin: 0% 7% 0% 7%;">
    
    <h2 class="personalText"> My profile</h2>

    <section id="profileSec">
        <div id="profileDP">
          <img src="../../public/img/doctors/<%= d.image %>" id="profilePic" >  
        </div>
    
        <div id="profileData">
          <table style="height: 100%">
            <tr>
              <td> Name </td>
              <td> <%= d.name %> </td>
            </tr>
            <tr>
              <td> Date birth: </td>
              <td> <%= d.birthdate %> </td>
            </tr>
            <tr>
              <td> Cellphone number:</td>
              <td> <%= d.phone %> </td>
            </tr>
            <tr>
              <td> Sex:</td>
              <td> Male </td>
            </tr>
            <tr>
                <td> Days Availiable </td>
                <% let days = [] %> 
                <% let numbers = d.days %> 
           
                <%   for (let i = 0 ; i < numbers.length; i++){ %> 
                  <%   if (numbers[i] == "1"){ days.push(" Monday") } %>
                  <%   if (numbers[i] == "2"){ days.push(" Tuesday") } %>
                  <%   if (numbers[i] == "3"){ days.push(" Wednesday") } %>
                  <%   if (numbers[i] == "4"){ days.push(" Thursday") } %>
                  <%   if (numbers[i] == "5"){ days.push(" Friday") } %>
                <% } %>
                <td id="daysAvailable"> <%= days + ' ' %> </td>
            </tr>
            <tr>
              <td> Area of Expertise </td>
              <td> Dermathologist </td>
            </tr>
            <tr>
              <td> City: </td>
              <td> <%= d.city %> </td>
            </tr>
            <tr>
              <td> Mail: </td>
              <td> <%= d.email %> </td>
            </tr>
          </table>
        </div>
    </section>
</section>
<h2 class="personalText" style="text-align: center; margin: 5% 0 5% 0"> Take Turn </h2>
<form style="margin-top: 5%;" method="post" action="/newTurn">
  <div class="col-md-3">
    <div class="col-md-12">
      <label for="datepicker" class="form-label"> Date </label>
      <input type="date" name="datepicker" class="form-control" placeholder="Click to choose a date" id="datepicker" required>
    </div>
    <div class="col-md-12">
    <label for="validationDefault06" class="form-label">Hour</label>
    <select class="form-select" id="validationDefault06" name="hour" required>
      <option selected disabled value="">Choose...</option>
      <option> 16:00 </option>
      <option> 17:00 </option>
      <option> 18:00 </option>
      <option> 19:00 </option>
      <option> 20:00 </option>
    </select>
    </div>
  <% if (!locals.isLogged) { %>
  <button type="submit" class="btn btn-primary" style="background-color: #003e51;" disabled> Make Appointment </button>
  <% }else{ %>
  <button type="submit" class="btn btn-primary" style="background-color: #003e51;"> Make Appointment </button>
  <% } %> 
  <button type="reset" class="btn btn-danger" style="background-color: #690000;"> Clean </button>
  </div>  


</form>
</main>
  <script src="/public/js/appointment.js" type="text/javascript"></script>
  <%- include ('./partials/footer') %>

</body>
</html>