<!doctype html>
<html lang="en">
  <%- include ('./partials/head') %>
<body id="cuerpo">

  <%- include ('./partials/header') %>
    <main style="padding-top: 100px; margin: 0% 7% 0% 7%;">
    
        <div>       
            <h2 class="personalText"> Look up a Doctor </h2> 
           
            <form action="/action_page.php" id="searchDoctor">
              <input type="text" placeholder="..." name="search">
              <button class="btn btn-primary" type="submit" style="background-color: #003e51;"> Search </button>
            </form>

           <div class="container mt-3" id="doctors">             
            <% for (let i=3 ; i < d.length ; i++) { %>
              <div class="card" style="width:250px ; margin-bottom: 3em;">
                <img class="card-img-top" src="../../public/img/doctors/<%= d[i].image %>" alt="Card image" style="width:auto">
                <div class="card-body">
                  <h4 class="card-title"><%= d[i].name %></h4>
                  <p class="card-text"><%= d[i].name %> is a <%= d[i].expertise %> who lives in <%= d[i].city %></p>
                  <a href="/appointment/<%= d[i].id %>" class="btn btn-primary" style="background-color: #003e51;">See Profile</a>
                </div>
              </div>
             <% } %> 
           </div>
</div>


    </main>

  <%- include ('./partials/footer') %>

</body>
</html>