<!doctype html>
<html>
    <%- include ('./partials/head') %>
<body id="cuerpo">
    <%- include ('./partials/header') %>

<main id="mainProfile">

    <h2 class="personalText"> My profile</h2>

    <section id="profileSec">
        <div id="profileDP">
          <img src="/public/img/users/<%=user.image%>" id="profilePic" >  
        </div>
    
        <div id="profileData">
          <table style="height: 100%">
            <tr>
              <td> First Name: </td>
              <td> <%- user.firstName  %></td>
            </tr>
            <tr>
              <td> Last Name: </td>
              <td> <%- user.lastName %></td>
            </tr>
            <tr>
              <td> Birthdate: </td>
              <td> <%- user.birthdate %></td>
            </tr>
            <tr>
              <td> Cellphone number:</td>
              <td> <%- user.phone %></td>
            </tr>
            <tr>
              <td> Sex:</td>
              <td> <%- user.sex %></td>
            </tr>
  
            <tr>
              <td> City: </td>
              <td> <%- user.city %></td>
            </tr>
            <tr>
              <td> Mail: </td>
              <td> <%- user.email %></td>
            </tr>
          </table>
        </div>
    </section>

<h2 class="personalText"> Appointments </h2>
 
<!-- show nothing -->
<% if (user.turns.length == 0) { %>
<h4 class="noTurns" style="text-align: center; color: #003e51 "> You do not have an appointment with any doctor yet!</h4>
<% } else { %>
<!-- show turns-->
<div id="appointmentsData">

<table>
  <tr>
    <th> Proffesional</th>
    <th> Area of Expertise</th>
    <th> Date</th>
    <th> Hour</th>
    <th> Cancel </th>
  </tr>

  <% for ( let i = 0 ; i< user.turns.length ; i++ ) { %>
  <tr>
    <td> <%= user.turns[i].doctor %>  </td>    
    <td id="areaExpertise"> 
      <% let area %>
      <% if (user.turns[i].area_expertise == 1) { area = "Dermathologist" } %> 
      <% if (user.turns[i].area_expertise == 2) { area = "Neurologist" } %> 
      <% if (user.turns[i].area_expertise == 3) { area = "Dentist" } %> 
      <% if (user.turns[i].area_expertise == 4) { area = "Veterinary" } %> 
      <% if (user.turns[i].area_expertise == 5) { area = "Nurse" } %> 
      <% if (user.turns[i].area_expertise == 6) { area = "Therapist" } %> 
      <% if (user.turns[i].area_expertise == 7) { area = "Psychologist" } %> 
      <% if (user.turns[i].area_expertise == 8) { area = "Surgeon" } %> 
      <% if (user.turns[i].area_expertise == 9) { area = "Veterinary Surgeon" } %> 
      <%= area %>
    </td>
    <td> <%= user.turns[i].date %> </td>
    <td> <%= user.turns[i].hour %></td>
    <td> 
      <form action="/cancelTurn/<%= user.turns[i].id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn-close" aria-label="Close"></button>
      </form>
    </td>
  </tr>
  <% } } %>

</table>

</div>
</main>

    <%- include ('./partials/footer') %>

</body>
<style>
   
    </style>
</html>