<!doctype html>
<html>
    <%- include ('./partials/head') %>
<body id="cuerpo">
    <%- include ('./partials/header') %>

<main id="mainProfile">

    <h2 class="personalText"> My profile</h2>

    <section id="profileSec">
        <div id="profileDP">
          <img src="/public/img/users/<%=user.image%>" id="profilePic" >  
        </div>
    
        <div id="profileData">
          <table style="height: 100%">
            <tr>
              <td> Name: </td>
              <td> <%- user.firstName + ' ' + user.lastName %></td>
            </tr>
            <tr>
              <td> Birthdate: </td>
              <td> <%- user.birthdate %></td>
            </tr>
            <tr>
              <td> Cellphone number:</td>
              <td> <%- user.phone %></td>
            </tr>
            <tr>
              <td> Sex:</td>
              <td> <%- user.birthdate %></td>
            </tr>
            <tr>
              <td> Health Insurance: </td>
              <td> Basic </td>
            </tr>
            <tr>
              <td> City: </td>
              <td> <%- user.city %></td>
            </tr>
            <tr>
              <td> Mail: </td>
              <td> <%- user.email %></td>
            </tr>
          </table>
        </div>
    </section>

<h2 class="personalText"> Appointments </h2>
<div id="appointmentsData">
<table>
  <tr>
    <th> Proffesional</th>
    <th> Area of Expertise</th>
    <th> Date</th>
    <th> Hour</th>
    <th> Cancel </th>
  </tr>
  <tr>
    <td> Julian Barzana </td>
    <td> Dermatologist </td>
    <td> 24/01/2023 </td>
    <td> 15:00 </td>
    <td> <button type="button" class="btn-close" aria-label="Close"></button></td>
  </tr>
  <tr>
    <td> Julian Barzana </td>
    <td> Dermatologist </td>
    <td> 24/01/2023 </td>
    <td>  15:00</td>
    <td> <button type="button" class="btn-close" aria-label="Close"></button></td>
  </tr>
  <tr>
    <td> Julian Barzana </td>
    <td> Dermatologist </td>
    <td> 04/01/2023</td>
    <td> 15:00</td>
    <td> <button type="button" class="btn-close" aria-label="Close"></button></td>
  </tr>
</table>
</div>
</main>

    <%- include ('./partials/footer') %>

</body>
<style>
   
    </style>
</html>